* {
    margin: 0;
}

body {
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
}

.pageWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titleText {
    border-bottom: 3px dashed white;
}

.homepageButton {
    width: 50px;
    height: 50px;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.restartButton {
    margin-right: 20px;
}

#gameCanvas {
    /* setting the width & height here gives issues */
    /* margin: 10px; */
    border-radius: 10px;
}

.scoreContainer {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 70px;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 10px;
    /* margin: 10px; */
}

.playerOneScore {
    width: 150px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}
.playerOneScore .tag {
    color: rgb(126, 126, 255);
    font-size: 30px;
    font-weight: 600;
}
.playerOneScore .score {
    font-size: 30px;
    margin-left: 10px;
}

.playerTwoScore {
    width: 150px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}
.playerTwoScore .tag {
    color: rgb(255, 81, 81);
    font-size: 30px;
    font-weight: 600;
}
.playerTwoScore .score {
    font-size: 30px;
    margin-left: 10px;
}

.playerThreeScore {
    width: 150px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}.playerThreeScore .tag {
    color: rgb(113, 209, 113);
    font-size: 30px;
    font-weight: 600;
}
.playerThreeScore .score {
    font-size: 30px;
    margin-left: 10px;
}

/* .replayButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
} */