* {
	margin: 0;
}

body {
	background-color: rgb(27, 27, 27);
	color: rgb(255, 255, 255);
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

.pageWrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.titleText {
	border-bottom: 3px dashed white;
}

.homepageButton {
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px 0px 0px 10px;
	border-bottom: 1px solid white;
}

.iconsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.restartButton {
	margin-right: 20px;
	cursor: pointer;
}

#gameCanvas {
	border-radius: 10px;
}

.scoreContainer {
	display: none;
	justify-content: space-between;
	width: 650px;
	border-radius: 10px;
}

.playerOneScore {
	display: flex;
}

.playerOneScore .tag {
	background-color: rgb(0, 0, 255);
	font-size: 30px;
	font-weight: 600;
	padding: 0px 10px;
	border-radius: 5px;
}

.playerOneScore .score {
	font-size: 30px;
	margin-left: 10px;
}

.playerTwoScore {
	display: flex;
}

.playerTwoScore .tag {
	background-color: rgba(255, 0, 0, 0.153);
	font-size: 30px;
	font-weight: 600;
	padding: 0px 10px;
	border-radius: 5px;
}

.playerTwoScore .score {
	font-size: 30px;
	margin-left: 10px;
}

.playerThreeScore {
	display: flex;
}

.playerThreeScore .tag {
	background-color: rgba(113, 209, 113, 0.181);
	font-size: 30px;
	font-weight: 600;
	padding: 0px 10px;
	border-radius: 5px;
}

.playerThreeScore .score {
	font-size: 30px;
	margin-left: 10px;
}

.gameOverModal {
	background-color: rgba(0, 0, 0, 0.518);
	width: 250px;
	height: 220px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	top: 17.5%;
	;
	left: 72%;
	color: white;
	display: none;
}

.winnerText {
	font-size: 30px;
}

.modalCloseButton {
	position: absolute;
	font-size: 13px;
	font-weight: 600;
	top: 1.5%;
	left: 94.5%;
	color: rgb(166, 18, 18);
}

.landingPageBody {
	background-color: rgb(27, 27, 27);
	color: rgba(255, 255, 255, 0.904);
	height: 100vh;
	overflow: hidden;
}

.navBarContainer {
	height: 100px;
	display: flex;
	justify-content: center;
	position: relative;
}

.navBarTitle {
	margin-top: 27px;
	font-size: 35px;
}

.paperImage {
	height: 35px;
	margin-top: 30px;
	margin-right: 12px;
}

.pencilImage {
	height: 38px;
	margin-top: 24px;
	margin-left: 10px;
}

.navBarWikiImage {
	position: absolute;
	top: 15px;
	left: 96%;
	width: 43px;
	cursor: pointer;
}

.heroSection {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	margin-top: 50px;
}

.landingPageImage {
	width: 600px;
	opacity: 0.8;
	border-radius: 20px;
}

.rightHeroSide {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 450px;
	height: 410px;
	margin-top: 60px;
}

.rightHeroSideTitle {
	font-size: 55px;
}

.rightHeroSideText {
	font-size: 19px;
}

.buttonsContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.playNowButton {
	width: 220px;
	padding: 10px 0px;
	font-size: 30px;
	font-weight: 600;
	color: white;
	background-color: rgb(47, 45, 173);
	border: none;
	border-radius: 50px;
	margin-right: 20px;
	cursor: pointer;
}

.watchGamePlayButton {
	width: 210px;
	padding: 10px;
	font-size: 24px;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid white;
	color: white;
	border-radius: 15px;
	cursor: pointer;
}

.joinRoomContainer {
	display: flex;
	margin-left: 8px;
}

#roomCodeInput {
	width: 200px;
	height: 38px;
	padding-left: 10px;
	border: none;
	font-size: 16px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border: 2px solid white;
	border-radius: 10px;
}

#joinRoomButton {
	font-size: 20px;
	font-weight: 600;
	width: 100px;
	height: 38px;
	border: none;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 2px;
	background-color: rgb(33, 145, 23);
	color: white;
	cursor: pointer;
}

::placeholder {
	font-size: 14px;
}

.gameCodeTitle {
	font-size: 20px;
	font-weight: 300;
	color: rgb(255, 255, 255)
}

.gameCode {
	color: rgb(255, 238, 0);
	font-weight: 700;
}

#gamePage {
	display: none;
	flex-direction: column;
	height: 100vh;
}

.waitContainer {
	background-color: rgba(231, 231, 231, 0.953);
	border: 1px solid rgba(0, 0, 0, 0.399);
	display: flex;
	flex-direction: column;
	width: 380px;
	height: 220px;
	margin-bottom: 100px;
	border-radius: 15px;
	position: absolute;
	font-size: 20px;
	color: rgb(5, 5, 5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.waitTitle {
	padding: 8px 10px;
	text-align: center;
	background-color: #ffffffa4;
	font-weight: bold;
	border-radius: 15px 15px 0px 0px;
}

.waitContainer hr {
	color: black;
}

.waitTextContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}

.waitImage {
	height: 60px;
	width: 60px;
}

.numberOfPlayers {
	margin-top: 10px;
	font-size: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.398);
	font-weight: bold;
}

.joinedPlayersDisplay {
	font-size: 50px;
	display: flex;
	justify-items: space-between;
	gap: 10px;
}

.joinFail {
	display: none;
	margin-left: 15px;
	color: white;
	background-color: rgba(255, 0, 0, 0.44);
	align-self: start;
	padding: 4px 8px;
	border-radius: 5px;
}

.titleContainer {
	display: none;
}

.gameTop {
	display: flex;
}